<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jovian Careers</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="container">
        <h1>Jovian Careers</h1>
        <div class="image-container">
            <img id="photo"
                    src="https://i.gifer.com/1ABW.gif" alt="#">
        </div>
        <h2>About Jovian</h2>
        <p class="bodytext">
            Jovian is a platform that connects job seekers with employers. We help job seekers find the right job and employers find the right candidates.
        </p>
        <h2>Open Positions</h2>
        <p class="bodytext">TODO - Show the jobs</p>
        <button>Contact Us</button>
        <p >Copyright 2024, Jovian</p>
    </div>
</body>
</html>